#container {
    display: flex;
    width: fit-content;
    border-style: solid;
    border-width: 1px;
    position: relative;
    transition: 0.5s;
}

img {
    max-height: 200px;
}

#frame {
    width: 200px;
    border-style: solid;
    border-width: 5px;
    overflow: hidden;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide {
    width: 200px;
}

.move-right {
    transform: translateX(200px);
}

.move-left {
    transform: translateX(-200px);
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dots {
    display: flex;
    align-items: space-between;
    justify-content: space-evenly;
    width: 2000px;
}

#controls {
    display: flex;
    align-items: space-between;
    justify-content: space-evenly;
    width: 300px;

}

.dot-active {
    background-color:black;
    border-color: black;
    border-width: 2px;
}